<%= render 'layouts/flash', :flash => flash %>

<% if @posts.any? %>

  <div class="column">
    <strong>Latest posts &nbsp;</strong>
    <%= link_to_function 'new post', 'reply($(this))' if logged_in? %>
    <div class="new_post_fields" style="display: none;">
      <% form_for Post.new do |f| %>
        <%= f.text_field :content %>
      <% end %>
    </div>

    <% @posts.each do |post| %>
      <div class="post" id="<%= post.id %>">
        <div class="user_name">
          <%=h post.user.try :name %>
        </div>
        <div class="content">
          <%=h post.content %>
          <%= render 'cheer', :post => post %>
        </div>
        <%= link_to_function 'Reply', 'reply(this)' unless !logged_in? or @searching %>
        <div class="new_post_fields" style="display: none;">
          <% form_for Post.new do |f| %>
            <%= f.text_field :content %>
            <%= f.hidden_field :parent_id, :value => post.id %>
          <% end %>
        </div>
      </div>
      <div class="replies">
        <% unless @searching %>
          <% post.replies.each do |reply| %>
            <div class="post reply" id="<%= reply.id %>">
              <div class="user_name">
                <%=h reply.user.try :name %>
              </div>
              <div class="content">
                <%=h reply.content %>
                <%= render 'cheer', :post => reply %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div><!-- /column -->

<% else %>

  <div class="column">
    <div class="search">
      <strong>No Posts</strong>
      <%= link_to_function 'new post', 'reply($(this))' if logged_in? %>
      <div class="new_post_fields" style="display: none;">
        <% form_for Post.new do |f| %>
          <%= f.text_field :content %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

<% if @searching or @posts.any? %>
  <div class="column">
    <strong>Search</strong>
    <div class="search">
      <% form_tag search_posts_path, :method => :get do %>
        <%= text_field_tag :search %>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_user.try :is_admin? and not @searching %>
  <div class="column">
    <strong>User Administration</strong><br>
    <ul class="users">
      <% @users.each do |user| %>
        <li>&nbsp;
          <div class="icon" title="delete user"><%= link_to image_tag('../images/trash_can.png'), user_path(user), :method => :delete, :confirm => "This user will be deleted along with all their posts and those posts' replies!" %></div>
          <div class="user_name"><%= user.name %></div>
          <% if user.is_admin? %>
            <div class="icon" title="demote"><%= link_to image_tag('../images/queen.png'), demote_user_path(user), :method => :put, :confirm => "This will strip #{user.name} of all admin rights." %></div>
          <% else %>
            <div class="icon" title="promote to admin"><%= link_to image_tag('../images/pawn.png'), promote_user_path(user), :method => :put, :confirm => "This will give #{user.name} all the admin rights you have." %></div>
          <% end %>
          <div class="icon" title="number of posts"><%= "#{user.posts.size} #{image_tag('../images/post.png')}" %></div>
          <div class="icon" title="times cheered by others"><%= "#{user.incoming_cheers} #{image_tag('../images/heart.png')}" %></div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
